<h1>Please add your new recipe below</h1>

<html>
  <form action="/recipes" method="post">
    <div>
      <label for="name">Recipe Name</label>
      <input type="text" name="name">
      <br>
    </div>
    <div>
      <label for="name">Recipe Description</label>
      <input type="text" name="description">
      <br>
    </div>
    <div>
      <label for="name">Recipe Preparation time</label>
      <input type="text" name = "prep_time">
    </div>
    <input type="submit" value="Add Recipe">
  </form>
</html>
